<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Musicon</title>
    <link href="public/style.css" rel="stylesheet">
    <script src="handlebars.min.js"></script>
<!--     <script id="templateHB" type="text/x-handlebars-template">
      <h1>{{title}}</h1>
      <p>{{body}}</p>
      <a href=".html">LINK TO RESUME</a>  
    </script> -->
  </head>

  <body>
    <header>
      <section class="container">
        <h1 class="branding" href="index.html">Qitian Liao</h1>
        <nav>
          <ul class="navbar">
            <li class="current">
              <a href="index.html">Experience</a>
            </li>
            <li>
              <a href="academics.html">Academics</a>
            </li>
            <li>
              <a href="portfolio.html">Portfolio</a>
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <article id="introduction">
      <section id = "introduction-title">
        Hello, I'm Qitian! 
      </section>
    </article>

<!--     <footer>
      <p>&copy; Musicon</p>
    </footer> -->
    <script src="public/main.js"></script>
  </body>
</html>
